
.InfoContainer {
    /* height: 100vh; */
    display: flex;
    padding: 40px;
  }
  
  .left {
    flex: 3;
    height: 100%;
    padding: 80px;
  }

  .left h2{
    font-weight: 800;
    color: #252386;
    font-size: 50px;
  }
  
  .left p{
    font-weight: 500;
    color: #4543de;
    font-size: 20px;
    line-height: 1.5;
  }


  .right {
    flex: 3;
    padding-left: 90px;
  }
  
  .rider-img {
    padding-top: 20px;
    position: relative;
  }